body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    z-index: 10;
}

button {
    display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #8bc34a;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
    z-index: 10;
    width: 220px;
}

.pack {
    display: inline-block;
    margin-right:63px;
    margin-left:63px;
    padding: 10px 20px;
    z-index: 10;
}

.prices {
    display: inline-block;
    margin-left: 86px;
    margin-right: 80px;
    padding: 10px 20px;
    border-radius:20px;
    font-size: 24px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    z-index: 10;
    background-color: #000099;
}


button:hover {
    background-color: #689f38;
}

.rectangle {
    
    width: 200px;
    height: 300px;
    background-color: white;
    display: inline-block;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    z-index: 30;
}

#coin-counter {
    position: fixed;
    top: 60px;
    right: 0;
    font-size: 30px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    z-index: 10;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 20; /* Make sure the overlay is on top of other elements */
}