
<body>
    <div class="BuyPlayerContainer">
        <h2>Congratulations! You can find your new player in the 'Squad' menu!</h2>
    </div>
</body>

<img style="position: absolute;right: 28%;top: 45%;z-index: 1; max-width: auto; height: 50%;" src="~/css/legends/contract.png" />

<a asp-action="Editor" asp-controller="Squad" class="accessButton" style="position: absolute;right: 10%;top: 40%; text-decoration:none; font-size: large">Take me there...</a>
