@model ClientApplication.Models.Squad

@{
    Layout = null;
    ViewData["Title"] = "Create team";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Football Manager - Name your team</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <form asp-controller="Access" asp-action="Create" method="post">
        <div class="centerContainer">
            <h3 class="instruction"><b>Choose a name for your team:</b></h3>
            <input class="textContainer" type="text" asp-for="SquadName" name="SquadName" placeholder="Team name" maxlength="50" />
            <br />
            <button class="accessButton" data-open-modal>Create team</button>

            @if (ViewData["ValidateMessage"] != null)
            {
                <br />
                <br />
                <label id="validation">@ViewData["ValidateMessage"]</label>
            }
        </div>
    </form>

    <dialog data-modal style="  color: white;
                                padding: 24px;
                                border: 1px solid #dfdfdf;
                                background-color: #000099;
                                width: 100%;
                                text-align: center;
                                margin-bottom: 17%;
                                border-left: none;">
        <br />
        <h2>
            Your team has been successfully created! <br /> <br /> You can find your new players in the "Squad" menu. See "Shop" or "Transfer market" to buy
            new players and improve your team. When you are ready, you can test your team against other managers from the "Game" menu.<br />
            <br />
            Good luck manager!
        </h2>
        <button class="accessButton" style="font-size: 150%; padding: 1.5%;" data-close-modal> Start your journey! </button>
    </dialog>

    <script>
        const createTeamButton = document.querySelector('[data-open-modal]')
        const closeButton = document.querySelector('[data-close-modal]')
        const dialog = document.querySelector('[data-modal]')

        // Select the text from the input field
        const input = document.querySelector('.textContainer')

        // Opens a dialog with a nice message
        createTeamButton.addEventListener('click', () => {
            event.preventDefault(); // prevent the default form submission behavior
            // Check if the input field is empty
            if (input.value == "") {
                // Write a corresponding message in the validation field
                document.getElementById("validation").innerHTML = "You must choose a name for your team!";
            } else {
                dialog.showModal();
            }
        })

        // Closes the dialog and submits the form causing redirect to the main page
        closeButton.addEventListener('click', () => {
           dialog.close()
           document.querySelector('form').submit()
        })
    </script>

</body>
</html>
